<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiac Health Test</title>
    <link rel="shortcut icon" type="x-icon" href="https://images.squarespace-cdn.com/content/v1/5e48489da899cd09424943db/1614182979894-JZ1GW7AVVOQHSZB5JETF/austin+kosier+heart+anatomy+diagram">
    <link rel="stylesheet" href="static/front.css">
</head>
<body>
    <div class="back">
        <img
            src="https://images.squarespace-cdn.com/content/v1/5e48489da899cd09424943db/1614182979894-JZ1GW7AVVOQHSZB5JETF/austin+kosier+heart+anatomy+diagram">
    </div>
    <div class="text">
        <h1 class="heading">Cardiac Health Test</h1>
    </div>
    <br>
    <br>
    <div class="text">
        <h1 class="heading">{{n}}</h1>
    </div>
    <br>
    <br>
    <div class="text">
        <h1 class="heading">Thank You for using our model.</h1>
        <br>
        <br>
        <h1 class="heading">It predicts with 85% accuracy.</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <form id="healthForm">
            <div class="form-group">
                <button type="submit">To submit another response , Click Here</button>
            </div>
        </form>
    </div>
</body>
</html>